body {
  margin: 0;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;

  background: #5b8ec4;
  overflow: hidden;
}

/* 左メニュー */

.side-menu {
  position: absolute;
  left: 40px;
  top: 40px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.side-menu button {
  background: none;
  border: none;

  color: white;
  font-size: 28px;

  cursor: pointer;
}

/* 船 */

.ship {
  position: absolute;
  bottom: -180px;
  left: 50%;

  transform: translateX(-50%);

  width: 140%;
  height: 350px;

  background: #5b4a1d;

  border-radius: 50%;
}

/* 閉じるボタン */

.close-button {
  position: absolute;

  left: 50%;
  bottom: 50px;

  transform: translateX(-50%);

  width: 220px;
  height: 60px;

  border-radius: 999px;

  border: 1px solid rgba(255,255,255,.3);

  background: transparent;
  color: white;

  font-size: 22px;
}


body {
  margin: 0;
  font-family: sans-serif;
  background: #ececec;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  width: 420px;
  background: #fffdf5;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,.25);
}

/* 瓶 */
.letter-object {
  position: absolute;

  width: 90px;
  height: auto;

  cursor: pointer;

  animation: bottleFlow 16s linear infinite;
}

.letter-object:hover {
  transform: translate(-50%, -58%) scale(1.08);
}

/* 瓶が揺れながら流れる */
@keyframes bottleFlow {

  0% {
    left: -120px;
    top: 58%;
    transform: rotate(25deg);
  }

  15% {
    top: 55%;
    transform: rotate(30deg);
  }

  30% {
    top: 60%;
    transform: rotate(20deg);
  }

  45% {
    top: 54%;
    transform: rotate(28deg);
  }

  60% {
    top: 61%;
    transform: rotate(22deg);
  }

  80% {
    top: 56%;
    transform: rotate(27deg);
  }

  100% {
    left: calc(100vw + 120px);
    top: 59%;
    transform: rotate(25deg);
  }
}